.searchForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.searchForm > label {
  display: flex;
  flex-direction: column;
}
/* .searchForm > label:nth-child(3) {
  margin-bottom: 0.6em;
} */

.searchForm > input {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.searchForm > button {
  width: 100%;
  margin: 1em auto 0.2em auto;
  padding-left: 0;
  padding-right: 0;
}

ul {
  list-style-type: none;
}
.result {
  background-color: beige;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-block-end: 0;
}
.review_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline-start: 40px;
}
.review > button {
  margin-top: 1em;
}

.commentInput {
  margin-left: 5px;
  width: 455px;
}

div > nav > ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}
div > nav > ul > li {
  margin-right: 1em;
}

.saveToDB {
  margin-top: 1em;
  width: 100%;
}

@media only screen and (max-width: 768px) {
}
