@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");

body,
html {
  font-family: "Roboto", sans-serif;
}
button,
input {
  font-family: "Roboto", sans-serif;
}

input#name {
  margin-top: 0.3em;
  margin-bottom: 1em;
}
.searchForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
  margin: 0 auto;
}

.searchForm > label {
  display: flex;
  flex-direction: column;
}

.searchForm > input {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.searchForm > input[type="text"] {
  padding: 12px 12px;
}

.searchForm > button {
  width: 100%;
  margin: 1em auto 0.2em auto;
  padding-left: 0;
  padding-right: 0;
  height: 3em;
}

ul {
  list-style-type: none;
}
.result {
  background-color: #f7f7e7;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2em auto 1em auto;
  padding-inline-start: 0;
}

.review > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.review_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline-start: 0;
}
.review > button {
  margin-top: 1em;
}

.commentInput {
  margin-left: 5px;
  width: 100%;
  box-sizing: border-box;
}

div > nav > ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 600px;
  margin: 0 auto 2em auto;
}
div > nav > ul > li {
  margin-right: 1em;
}

.saveToDB {
  margin-top: 1em;
  width: 100%;
}

.loginContainer > form > label > input {
  width: 100%;
  box-sizing: border-box;
}

.screeningList > button {
  width: 600px;
  margin: 1em auto 0 auto;
  height: 3em;
}

.screeningList {
  width: 600px;
  margin: 0 auto 0 auto;
}

.searchForm > label {
  margin-bottom: 0.5em;
}

.singlereview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 600px;
  margin: 0 auto 1em auto;
  text-align: left;
  border: 5px solid #64bbe3;
  border-radius: 0.5em;
}

.singlereview > ul {
  padding: 0;
  margin-top: 0;
  padding: 1em;
}

.emptymatch {
  width: 600px;
  margin: 0 auto 1em auto;
  justify-content: flex-start;
  text-align: left;
  border: 5px solid #64bbe3;
  border-radius: 0.5em;
}

.emptymatch > ul {
  padding: 1em;
}

ul > li > a {
  color: #2b5592;
}

div > nav > ul {
  background-color: #2b5592;
  padding: 1em;
  border-radius: 0.5em;
}
div > nav > ul > li > a {
  color: white;
}

.loginContainer > form {
  width: 600px;
  margin: 0 auto;
}

.emaillabel,
.passwordlabel {
  position: relative;
}

.emailicon {
  position: absolute;
  top: 69%;
  bottom: 0;
  width: 20px;
  color: #2b5592;
}

.passwordicon {
  position: absolute;
  top: 81%;
  bottom: 0;
  width: 20px;
  color: #2b5592;
}

.emaillabel > input,
.passwordlabel > input {
  padding-left: 4%;
}

@media only screen and (max-width: 768px) {
  .screeningList > button {
    width: 400px;
  }

  .searchForm {
    width: 400px;
  }

  .screeningList {
    width: 400px;
  }

  .searchForm > button {
    height: 2em;
  }

  .loginContainer > form {
    width: 400px;
  }
}
